javascript:
  var $buoop = {
    vs: {i:10,f:-8,o:-8,s:7,c:-8},
    api:4,
    reminder: 0,
    l: 'en'
  };
  function $buo_f(){
    var e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
