= set_and_display_meta_tags

/ Schema.org for Google search
= set_and_display_google_structural_data(generate_search_structured_data)
= set_and_display_google_structural_data(generate_website_structured_data)
