.default-margin {
  margin-top: 20px;
}

.gravatar {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.gravatar-navbar {
  height: 50px;
  width: 50px;
  border-radius: 27px;
  border: 2px solid #fff;
  cursor: pointer;
}

.alert {
  z-index: 1040;
  position: relative;
}

.container-content {
  margin-top: 100px;
}

.container-fluid {
  position: relative;
}

.navbar {
  border: none;
  background-color: lightcoral;
  width: 100%;
  max-width: 1230px;
  margin: 0px auto 15px;
  border-radius: 0;

  .navbar-nav > li > a.auth-button {
    border: 1px solid #909090;
    color: #313131;
    background-color: #fff;
    border-radius: 5px;
    .fa {
      font-size: 1.2em;
      vertical-align: sub;
    }
    &:hover {
      background-color: #efefef;
      transition: background-color 0.15s;
    }
  }
}

.nav-container {
  height: 77px;
  width: 100%;
}

.navbar-brand {
  float: left;
  padding: 25px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 70px;

  img {
    width: 100px;
    transform: translateY(-25%);
  }
}

.navbar-text {
  margin: 7.5px 7.5px;
  .user-gravatar-wrapper img {
    margin: 10px 10px;
  }
}

.user-name-disabled-link {
  pointer-events: none;
}

#header {
  background-color: lightgray;
  min-height: 250px;

  padding: 10px 10px;
}

#sidenav {
  background-color: lightblue;

  padding: 10px 10px;
}

#search {
  background-color: lightblue;
  padding: 10px 10px;
  margin: 20px 0px;
}

#categories-list {
  background-color: lightsteelblue;
  padding: 10px 10px;
}

.footer {
  background-color: lightcyan;
  padding: 10px 10px;

  margin-top: 20px;
}

#category-top {
  background-color: lightgoldenrodyellow;

  margin-bottom: 20px;
}

#category-detail {
  background-color: lightseagreen;
}


#gem-object-top {
  background-color: lightskyblue;

  .default-margin;
}
#gem-object-info {
  background-color: lightgoldenrodyellow;

  .default-margin;
}
#gem-object-description {
  background-color: lightcyan;

  .default-margin;
}
