.gravatar {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.gravatar-navbar {
  .gravatar;
}

.alert {
  z-index: 1040;
  position: relative;
}

.container-content {
  margin-top: 70px;
}

#header {
  min-height: 250px;
  background-color: lightgray;
}

#sidenav {
  background-color: lightblue;
}
