= form_tag root_path, method: :get
  = text_field_tag 'search[q]', (params['search'].present? ? params['search']['q'] : nil), class: 'cmd-input', placeholder: 'Search'
  = button_tag type: 'submit', class: ''
    = fa_icon('search')
